zad 3.2/Vjezba3.2.dtd

<!ELEMENT Osoba (Ime, Prezime, MjestoStanovanja, Kontakt)>
<!ATTLIST Osoba spol (M|Ž) #REQUIRED>

<!ELEMENT Ime (#PCDATA)>
<!ELEMENT Prezime (#PCDATA)>

<!ELEMENT MjestoStanovanja (Adresa, Grad, Drzava)>
<!ELEMENT Adresa (#PCDATA)>
<!ELEMENT Grad (#PCDATA)>
<!ELEMENT Drzava (#PCDATA)>

<!ELEMENT Kontakt (Mobitel, KucniTelefon, Email)>
<!ELEMENT Mobitel (#PCDATA)>
<!ELEMENT KucniTelefon (#PCDATA)>
<!ELEMENT Email (#PCDATA)>




